body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
       
}

header {
    background-color: #2874f0;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2874f0;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container{
    display: flex;
    flex: row;
}
img{
    height: 200px;
    padding: 20px;
    transition: 400ms;

}
div img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}